@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* Main styles */
body {
  font-family: "Open Sans", "Segoe UI";
  font-size: 15px;
}
ul {
  list-style-image: url("../../images/core/list-bullet.png");
}
nav {
  font-size: 14px;
}
h1, h2, h3, h4, h5 {
  font-family: "Roboto Condensed", "Segoe UI", sans-serif;
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 50px;
  width: 100%;
  height: 280px;
}

.content a {
  color: inherit;
/*  border-bottom: 5px solid #682079;*/
  box-shadow: 0px -4px 0px #d89ae4 inset;
}
.content a:hover {
  background-color: #d89ae4;
  color: inherit;
  text-decoration: none;
  transition: background .15s cubic-bezier(.33, .66, .66, 1);
}


/* End of main styles */

/* Index page styles */
.btn-hero-core {
  padding: 15px 25px;
  background-color: #32145a;
  color: #d89ae4;
  display: inline-block;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  -webkit-box-shadow: 2px 2px 3px 0px #2C0D33;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 3px 0px #2C0D33;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 3px 0px #2C0D33;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.btn-hero-core:hover {
  color: #d89ae4;
  text-decoration: none;
}
.hero {
  background-color: #682079;
  width: inherit;
  color: #fff;
}
.dotnet {
  color: #fff;
}
.value-prop-heading {
  margin-top: 0px;
}
.value-props {
  margin-top: 40px;
  margin-bottom: 40px;
}

.intro-image {
  text-align: center;
}
.intro-image > img {
  margin-top: 20px;
}

/* End of index page styles */

/* Getting started page styles */
.getting-started-intro {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.getting-started-intro > h2, h4 {
  margin-bottom: 30px;
}

.step {
  width: 100%;
  margin: 50px auto;
  padding: 20px 0px;
  text-align: center;
  font-size: 16px;
  border: solid 1px #c0c0c0;
  min-height: 300px;
  background-color: #fff;
  border-radius: 10px;
}
.step-block {
  display: block;
}
.step-none {
  display: none;
}


.step-number {
  position: relative;
  top: -40px;
  background-color: #32145a;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  padding: 10px;
  border: solid 1px #c0c0c0;
  border-radius: 10px;
}
.step > h3 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
.step > p {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.code-sample {
  white-space: pre;
}


/* Terminal backgrounds */
.terminal {
  display: block;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.terminal-titlebar {
  background-color: #c0c0c0;
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.terminal-body {
  background-color: #000;
  color: #fff;
  font-family: "Consolas";
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  text-align: left;
  height: auto;
  overflow: auto;
  word-wrap: break-word;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.prompt {
  color: #c0c0c0;
}
.windows-prompt:after {
    content: 'PS > ';
}
.unix-prompt:after {
  content: '~$ ';
}

.getting-started-intro > ul {
  list-style: none;
}
.getting-started-intro > ul > li {
  display: inline-table;
}
.getting-started-intro > ul > li:first-child > a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 2px solid #2C0D33;
  border-right: none;
}
.getting-started-intro > ul > li > a {
  padding: 10px 20px;
  border-top: 2px solid #2C0D33;
  border-bottom: 2px solid #2C0D33;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  width: 200px;
}
.getting-started-intro > ul > li:last-child > a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
  border-right: 2px solid #2C0D33;
}