    <!-- footer  -->
	<div class="footer_outer">
		<div class="footer_inner">
			<div class="footer_inner_tagline">Brought to you with love, with a sprinkling of</div>
			<div class="footer_links">
				<a href="http://knockoutjs.com/" target="_blank">Knockout</a>, 
				<a href="http://jquery.com/" target="_blank">jQuery</a>,
				<a href="http://momentjs.com/" target="_blank">Moment.js</a>, and 
				<a href="http://requirejs.org/" target="_blank">RequireJS</a>
			</div>
			<div class="kittie"></div>
			<p><a href="https://github.com/dotnet/dotnet.github.io">dotnet.github.io</a> is hosted with <a href="https://pages.github.com/">GitHub Pages</a>. Comments, suggestions, and PRs are appreciated.</p>
		</div>
	</div>
<!-- end footer  -->