<head>
	<meta charset="utf-8">
	<title>.NET Foundation</title>
	<link rel="stylesheet" type="text/css" href="{{ pathPrefix }}styles/main/dotNetMain.css">
	<link rel="stylesheet" media="screen and (min-width: 660px) and (max-width: 900px)" href="{{ pathPrefix }}styles/main/medium.css" />
	<link rel="stylesheet" media="screen and (min-width: 0px) and (max-width: 660px)" href="{{ pathPrefix }}styles/main/small.css" />
	<link rel="shortcut icon" href="{{ pathPrefix }}images/Logo_DotNet.png" type="image/x-icon">
</head>