---
layout: coreclr
title: Getting started with .NET Core
---
<!-- INTRO TO GETTING STARTED -->
<div class="row getting-started-intro">
    <h2>It is very easy to get started with .NET Core on your platform of choice.</h2>
    <h4>You just need a shell, a text editor and 10 minutes of your time. Ready? Set? Let's go!</h4>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-lg trail-start btn-gs" data-trail-target="windows-trail"><span class="fa fa-windows"></span> Windows</button>
      <button type="button" class="btn btn-default btn-lg trail-start btn-gs" data-trail-target="linux-trail"><span class="fa fa-linux"></span> Linux</button>
      <button type="button" class="btn btn-default btn-lg trail-start btn-gs" data-trail-target="macosx-trail">OS X</button>
    </div>
</div>
<div class="row">
    <div class="getting-started-container">
    {% include core/windows_gs.html %}
    {% include core/linux_gs.html %}
    {% include core/macosx_gs.html %}

    <div class="step step-none" id="step-final">
      <div class="step-number"><span class="fa fa-check"></span></div>
      <h3>And you're set!</h3>
      <p>You now have Core CLR running on your machine! You can visit the <a href="https://github.com/dotnet/coreclr/">CoreCLR GitHub repo</a>, <a href="https://github.com/dotnet/corefx/">CoreFX GitHub repo</a> or <a href="https://github.com/aspnet/home">ASP.NET 5 GitHub repo</a> for more samples, or use <a href="/core/documentation/">documentation</a> and <a href="/core/support/">social resources</a> to learn more about .NET Core!</p>
    </div>

  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="../js/trails.js"></script>
