    <!-- LINUX GETTING STARTED -->
    
    <div class="step step-none linux-trail" id="step-1">
      <div class="step-number">1</div>
      <h3>Prepare the environment</h3>
      <p>We need to make sure we have the dependicies set up. First come the packages.</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>sudo apt-get install libunwind8 libssl-dev unzip </p> 
        </div>
      </div>
      <p>We need to install Mono (a temporary solution for now)</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF </p> 
          <p><span class="prompt unix-prompt"></span>echo "deb http://download.mono-project.com/repo/debian wheezy main" | sudo tee /etc/apt/sources.list.d/mono-xamarin.list </p> 
          <p><span class="prompt unix-prompt"></span>sudo apt-get update</p> 
          <p><span class="prompt unix-prompt"></span>sudo apt-get install mono-complete </p> 
        </div>
      </div>
      <p>And then import certificates for packages</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>mozroots --import --sync </p> 
        </div>
      </div>
    </div>
    <div class="step step-none linux-trail" id="step-2">
      <div class="step-number">2</div>
      <h3>Install .NET Version Manager (DNVM)</h3>
      <p>DNVM is a script that will help us keep track of and manage the execution environments that we will use. Installing it is a breeze: </p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>curl -sSL https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.sh | DNX_BRANCH=dev sh && source ~/.dnx/dnvm/dnvm.sh</p> 
        </div>
      </div>
    </div>
    <div class="step step-none linux-trail" id="step-3">
      <div class="step-number">3</div>
      <h3>Install .NET Core Execution Environment (DNX)</h3>
      <p>Next step is to install the execution environment that will run Core CLR code:</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>dnvm upgrade -u</p>
          <p><span class="prompt unix-prompt"></span>dnvm install -r coreclr latest -u</p>
        </div>
      </div>
    </div>

    <div class="step step-none linux-trail" id="step-4">
      <div class="step-number">4</div>
      <h3>Write the app</h3>
      <p>Create a new file <strong>HelloWorld.cs</strong> in a directory, and paste in the code below:</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body code-sample">
        using System;

        public class Program {
        	public static void Main(string[] args){
        		Console.WriteLine("Hello World from Core CLR!");
        	}
        }
        </div>
      </div>
      <p>You will also need to specify some dependencies in a file called <strong>project.json</strong> so the sample works. Place the file in the same directory as the sample app above.</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body code-sample">
       {
            "version": "1.0.0-*",
            "dependencies": {
            },
            "frameworks" : {
                "dnx451" : { },
                "dnxcore50" : {
                    "dependencies": {
                        "System.Console": "4.0.0-beta-*"
                    }
                }
            }
        }
        </div>
      </div>

    </div>
    
    <div class="step step-none linux-trail" id="step-5">
      <div class="step-number">5</div>
      <h3>Run the app</h3>
      <p>The first command switches over to Mono to restore the packages (the 2nd command) <strong>project.json</strong>. We then switch back to CoreCLR and run our app.</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>dnvm use 1.0.0-beta5-11649 -r mono</p>
          <p><span class="prompt unix-prompt"></span>dnu restore</p>
          <p><span class="prompt unix-prompt"></span>dnvm use 1.0.0-beta5-11649 -r coreclr</p>
          <p><span class="prompt unix-prompt"></span> dnx . run</p>
        </div>
      </div>
    </div>    
    
    <!-- END OF LINUX GETTING STARTED -->
