<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <h2>Modular</h2>
    <p>.NET Core is a set of runtime, library and compiler components. Microsoft uses these components in various configurations for device and cloud workloads. You can do the same for your app or service.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Managed</h2>
    <p>Managed runtimes make code easy to write and guarantee safe execution. .NET Core manages memory with a garbage collector, compiles your code with a JIT compiler or ahead of time with .NET Native. </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Cross-platform</h2>
    <p>You can create .NET Core apps that run on multiple OSes and CPUs. .NET Core runs on Windows. Ports are in progress for Linux, OS X and FreeBSD, as is integration with the LLVM compiler.</p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
