<!-- WINDOWS GETTING STARTED -->
    <div class="step step-none windows-trail" id="step-1">
      <div class="step-number">1</div>
      <h3>Install .NET Version Manager (DNVM)</h3>
      <p>DNVM is a script that will help us keep track of and manage the execution environments that we will use. Installing it is a breeze: </p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt windows-prompt"></span> @powershell -NoProfile -ExecutionPolicy unrestricted -Command "&{$Branch='dev';iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.ps1'))}"</p> 
        </div>
      </div>
    </div>
    <div class="step step-none windows-trail" id="step-2">
      <div class="step-number">2</div>
      <h3>Install .NET Core Execution Environment (DNX)</h3>
      <p>Next step is to install the execution environment that will run Core CLR code:</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt windows-prompt"></span> dnvm install -r coreclr latest -u</p>
        </div>
      </div>
    </div>

    <div class="step step-none windows-trail" id="step-3">
      <div class="step-number">3</div>
      <h3>Write the app</h3>
      <p>Create a new file <strong>HelloWorld.cs</strong> in a directory, and paste in the code below:</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body code-sample">
        using System;

        public class Program {
        	public static void Main(string[] args){
        		Console.WriteLine("Hello World from Core CLR!");
        	}
        }
        </div>
      </div>
      <p>You will also need to specify some dependencies in a file called <strong>project.json</strong> so the sample works. Place the file in the same directory as the sample app above.</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body code-sample">
       {
            "version": "1.0.0-*",
            "dependencies": {
            },
            "frameworks" : {
                "dnx451" : { },
                "dnxcore50" : {
                    "dependencies": {
                        "System.Console": "4.0.0-beta-*"
                    }
                }
            }
        }
        </div>
      </div>

    </div>
    
    <div class="step step-none windows-trail" id="step-4">
      <div class="step-number">4</div>
      <h3>Run the app</h3>
      <p>The first command will restore the packages specified in the <strong>project.json</strong> file, and the second command will run the actuall sample:</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt windows-prompt"></span> dnu restore</p>
          <p><span class="prompt windows-prompt"></span> dnx . run</p>
        </div>
      </div>
    </div>
    
    <!-- END OF WINDOWS GETTING STARTED -->