    <!-- DOCKER GETTING STARTED -->

    <div class="step step-none docker-trail" id="step-1">
      <div class="step-number">1</div>
      <h3>Install Docker</h3>
      <p>Before you can try out the .NET Core Docker base images, you should install Docker. Refer to <a href="#">Docker getting started guides</a>.</p>
    </div>
    <div class="step step-none docker-trail" id="step-2">
      <div class="step-number">2</div>
      <h3>Run the container using dotnet base image</h3>
      <p>>The following command will get you a running sdasda container with the toolchain, straight off of Microsoft's <a href="https://hub.docker.com/r/microsoft/dotnet/">Docker Hub.</a></p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>docker run -it microsoft/dotnet:latest</p>
        </div>
      </div>
    </div>

    </div>
    <div class="step step-none docker-trail" id="step-3">
      <div class="step-number">3</div>
      <h3>Install a basic text editor and add some code</h3>
      <p>Now that you are in a running container, let's install a basic text editor so we can add some code!</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>sudo apt-get install nano</p>
        </div>
      </div>
      <p>Create a new directory named <strong>helloworld</strong>. Create a new file <strong>Program.cs</strong> in that directory, and paste in the code below:</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body code-sample code-source">
        using System;

        public class Program {
        	public static void Main(){
        		Console.WriteLine("Hello World from Core CLR!");
        	}
        }
        </div>
      </div>
      <p>You will also need to specify some dependencies in a file called <strong>project.json</strong> so the sample works. Place the file in the same directory as the sample app above, and copy the contents below:</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body code-sample json-source">
            {
                "version": "1.0.0-*",
                "compilationOptions": {
                    "emitEntryPoint": true
                },

                "dependencies": {
                    "System.Console": "4.0.0-beta-*",
                    "System.Runtime": "4.0.21-beta-*",
                    "System.IO": "4.0.11-beta-*"
                },

                "frameworks": {
                    "dnxcore50": { }
                }
            }
        </div>
      </div>
    </div>

    <div class="step step-none docker-trail" id="step-4">
      <div class="step-number">4</div>
      <h3>Run the application</h3>
      <p>After the init command, the only thing we need is to restore the dependencies and run the application.</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>dotnet restore</p>
          <p><span class="prompt unix-prompt"></span>dotnet run</p>
        </div>
      </div>
    </div>

    <!-- END OF DOCKER GETTING STARTED -->

