    <!-- LINUX GETTING STARTED -->

    <div class="step step-none linux-trail" id="step-1">
      <div class="step-number">1</div>
      <h3>Add the new apt-get feed</h3>
      <p>In order to install .NET Core on Ubuntu, we need to first set up the apt-get feed that hosts the package we need.</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>sudo sh -c 'echo "deb [arch=amd64] http://apt-mo.trafficmanager.net/repos/dotnet/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
</p>
          <p><span class="prompt unix-prompt"></span>sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893</p>
          <p><span class="prompt unix-prompt"></span>sudo apt-get update</p>
        </div>
      </div>
    </div>
    <div class="step step-none linux-trail" id="step-2">
      <div class="step-number">2</div>
      <h3>Install .NET Core</h3>
      <p>Installing .NET Core is a simple thing on Ubuntu. The below will install the package and all of its dependencies.</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>sudo apt-get install dotnet</p>
        </div>
      </div>
    </div>
    <div class="step step-none linux-trail" id="step-3">
      <div class="step-number">3</div>
      <h3>Initialize some code</h3>
      <p>Let's initialize a sample Hellow World application!</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>dotnet init</p>
        </div>
      </div>
    </div>

    <div class="step step-none linux-trail" id="step-4">
      <div class="step-number">4</div>
      <h3>Run the app</h3>
      <p>First, we restore the packages using the <strong>dotnet restore</strong> command and then run the application!</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>dotnet restore</p>
          <p><span class="prompt unix-prompt"></span>dotnet run</p>
        </div>
      </div>
    </div>

    <!-- END OF LINUX GETTING STARTED -->
