    <!-- LINUX GETTING STARTED -->

    <div class="step step-none linux-trail" id="step-1">
      <div class="step-number">1</div>
      <h3>Add the new apt-get feed</h3>
      <p>In order to install .NET Core on Ubuntu, we need to first set up the apt-get feed that hosts the package we need.</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>sudo sh -c 'echo "deb [arch=amd64] http://apt-mo.trafficmanager.net/repos/dotnet/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
</p>
          <p><span class="prompt unix-prompt"></span>sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893</p>
          <p><span class="prompt unix-prompt"></span>sudo apt-get update</p>
        </div>
      </div>
    </div>
    <div class="step step-none linux-trail" id="step-2">
      <div class="step-number">2</div>
      <h3>Install .NET Core</h3>
      <p>Installing .NET Core is a simple thing on Ubuntu. The below will install the package and all of its dependencies.</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>sudo apt-get install dotnet</p>
        </div>
      </div>
    </div>
    <div class="step step-none linux-trail" id="step-3">
      <div class="step-number">3</div>
      <h3>Write the app</h3>
      <p>Create a new directory called helloworld and place a file named <strong>Program.cs</strong> in it, then paste in the code below:</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body code-sample code-source">
        using System;

        public class Program {
        	public static void Main(){
        		Console.WriteLine("Hello World from Core CLR!");
        	}
        }
        </div>
      </div>
      <p>You will also need to specify some dependencies in a file called <strong>project.json</strong> so the sample works. Place the file in the same directory as the sample app above, and copy the contents below:</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body code-sample json-source">
            {
                "version": "1.0.0-*",
                "compilationOptions": {
                    "emitEntryPoint": true
                },

                "dependencies": {
                    "System.Console": "4.0.0-beta-*",
                    "System.Runtime": "4.0.21-beta-*",
                    "System.IO": "4.0.11-beta-*"
                },

                "frameworks": {
                    "dnxcore50": { }
                }
            }
        </div>
      </div>

    </div>

    <div class="step step-none linux-trail" id="step-4">
      <div class="step-number">4</div>
      <h3>Run the app</h3>
      <p>First, we restore the packages using the <strong>dotnet restore</strong> command and then run the application!</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p><span class="prompt unix-prompt"></span>dotnet restore</p>
          <p><span class="prompt unix-prompt"></span>dotnet run</p>
        </div>
      </div>
    </div>

    <!-- END OF LINUX GETTING STARTED -->
