    <!-- redhat GETTING STARTED -->

    <div class="step step-none redhat-trail" id="step-1">
      <div class="step-number">1</div>
      <h3>Step 1</h3>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
            <p>Command 1</p>
        </div>
      </div>
    </div>
    <div class="step step-none redhat-trail" id="step-2">
      <div class="step-number">2</div>
      <h3>Install .NET Core</h3>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
            <p>Installation command</p>
        </div>
      </div>
    </div>
    <div class="step step-none redhat-trail" id="step-3">
      <div class="step-number">3</div>
      <h3>Initialize some code</h3>
      <p>Let's initialize a sample Hello World application!</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
            <p>mkdir hwapp</p>
            <p>cd hwapp</p>
            <p>dotnet new</p>
        </div>
      </div>
    </div>

    <div class="step step-none redhat-trail" id="step-4">
      <div class="step-number">4</div>
      <h3>Run the app</h3>
      <p>First, we restore the packages using the <strong>dotnet restore</strong> command and then run the application!</p>
      <div class="terminal">
        <div class="terminal-titlebar"></div>
        <div class="terminal-body">
          <p>dotnet restore</p>
          <p>dotnet run</p>
        </div>
      </div>
    </div>

    <!-- END OF redhat GETTING STARTED -->
