---
layout: main 
title: Getting started with .NET Core
---
<!-- INTRO TO GETTING STARTED -->
<div class="row getting-started-intro">
    <h2>It is very easy to get started with .NET Core on your platform of choice.</h2>
    <h4>You just need a shell, a text editor and 10 minutes of your time. Ready? Set? Let's go!</h4>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-lg trail-start btn-gs" data-trail-target="windows-trail">Windows</button>
      <button type="button" class="btn btn-default btn-lg trail-start btn-gs" data-trail-target="macosx-trail">OS X (10.11)</button>
      <button type="button" class="btn btn-default btn-lg trail-start btn-gs" data-trail-target="docker-trail">Docker</button>
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle btn-gs" data-toggle="dropdown">Linux <span class="caret"></span></button>
              <ul class="dropdown-menu gs-dropdown-menu">
                <li><a class="trail-start" data-trail-target="centos-trail">CentOS 7.1</a></li>
                <li><a class="trail-start" data-trail-target="debian-trail">Debian 8.2</a></li>
                <li><a class="trail-start" data-trail-target="redhat-trail">Red Hat Enterprise Linux 7.2</a></li>
                <li><a class="trail-start" data-trail-target="ubuntu-trail">Ubuntu 14.04</a></li>
              </ul>
      </div>
    </div>
</div>
<div class="row">
    <div class="getting-started-container">
    {% include gs/windows_gs.html %}
    {% include gs/ubuntu_gs.html %}
    {% include gs/macosx_gs.html %}
    {% include gs/rhel_gs.html %}
    {% include gs/debian_gs.html %}
    {% include gs/centos_gs.html %}
    {% include gs/docker_gs.html %}

    <div class="step step-none" id="step-final">
      <div class="step-number"><span class="fa fa-check"></span></div>
      <h3>and you're set!</h3>
      <p>you now have .net core running on your machine! you can visit the <a href="http://github.com/dotnet/core/">.net core repo</a> for more samples. you can also visit <a href="https://github.com/dotnet/coreclr/">coreclr github repo</a>, <a href="https://github.com/dotnet/corefx/">corefx github repo</a> or <a href="https://github.com/dotnet/cli">.net command line interface repo</a> for more information, or use <a href="/docs/">documentation</a> and <a href="/support/">social resources</a> to learn more about .net core!</p>
    </div>

  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="/js/trails.js"></script>
