<!DOCTYPE html>
<html lang="en">
  <!-- include head here -->
  {% include core/head.html %}
<body>
  <!-- include navigation here -->
  {% include core/navigation.html %}
  <!-- include hero here if the page is index -->
  {% if page.url contains 'index.html' %}
    {% include core/hero.html %}
  {% endif %}

<div class="container content">
      <!-- CONTENT GOES HERE -->
      {{ content }}


</div>
<!-- FOOTER -->
<!-- include footer here -->
{% include core/footer.html %}
<script src="commoncode.js"></script>
  </body>
</html>
