<!DOCTYPE html>
<html lang="en">
  <!-- include head here -->
  {% include core/head.html %}
<body>
  <!-- include navigation here -->
  {% include core/navigation.html %}
  <!-- include hero here -->
  {% include core/hero.html %}

<div class="container">
      <!-- include here the value props -->
      {% include core/value_props.html %}
      <!-- CONTENT GOES HERE -->
      {{ content }}


</div>
<!-- FOOTER -->
<!-- include footer here -->
{% include core/footer.html %}

  </body>
</html>
