@charset "utf-8";
/* CSS Document */

html {
	width:100%;
	height:100%;
	background-color:#854c93;	
}
body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	background-color:#32145a;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Arial, sans-serif;
	line-height:1.1em;
	font-size:24px;
	color:#1e1e1e;
	margin:0px;
	padding:0px;
}
h2 {
	font-size:16px;
	font-weight:700;	
}
p {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Arial, sans-serif;
	font-size:13px;
	color: #423b7d;
	line-height:1.4em;
	margin:0px;
	padding:0px;
}

img {border:none;}

td {vertical-align:top;}


/* page framing */

.shell {
	width:100%;
	height:100%;	
}





/* styles for the top nav bar and the logo */
.topnav_outer {
	width:100%;
	height: 52px;
	background-color:#1e1e1e;	
}

.topnav_inner {
	position:relative;
	margin:0px auto;
	height: 52px;	
}

.topnav_items_outer {
	margin:0px auto;
	height:52px;
	width:430px;
	padding:12px 0px 0px 0px;
}

.topnav_item {
	float:left;
	width:auto;
	height:52;
	margin:0px 24px 0px 24px;
}

.topnav_item a, .topnav_item a:visited, .topnav_item a:hover  {
	color:#f1f1f1;
	font-size: 15px;
	font-weight:700;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Arial, sans-serif;
	text-decoration: none;
}

.topnav_item a:hover {
	color:#8e69c7;
}

.dotNetLogo {
	position:absolute;
	top:2px;
	left:12px;
	width:107px;
	height:100px;
	background-image:url(../images/Logo_DotNet.png);
	background-size:100%;
	background-repeat:no-repeat;
}

/* styles for hero */
.hero_outer {
	width: 100%;
	height:200px;
	background-color:#f0e6f7;
}

.hero_inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 40px;
	text-align: center;
}

/* styles for search bar */
.search_outer {
	width:100%;
	height:109px;
	background-color:#1e1e1e;
}
.search_inner {
	position:relative;
	width:95%;
	margin:0px auto;
	padding:12px 0px 0px 24px;
	color:#f1f1f1;
}

.input_searchbox {
	float:left;
	width: 40%;
	height:48px;
	max-width:400px;
	font-size:16px;
	font-weight:500;
	color:#ffffff;
	padding:0px 0px 0px 56px;
	margin:18px 24px 0px 0px;
	background:#682079 url(../images/icon_search.png) no-repeat 12px 8px;
	background-size:30px 30px;
	border-collapse:collapse;
	border:none;
}
.search_result_numbers {
	float:left;
	font-size:14px;
	margin-top:14px;
}
.time_filter select {
	width:130px;
	height:24px;
	font-size:14px;
	font-weight:500;
	background-color:#000000;
	border:1px solid #cf17fc;
	color:#f1f1f1;
	padding-left:6px;
	margin-top:7px;
}
.time_filter option {
	font-size:14px;
	font-weight:500;
	color:#f1f1f1;
}
.search_inner .hilite {
	font-size:16px;
	font-weight:700;
	color:#e337ff;
}

.statistics {
	float:right;
	width:250px;
	height:auto;
	margin:9px 0px 0px 12px;
}
.statistics_numbers {
	float:left;
	margin:0px 12px 0px 12px;
}
td.stat_align_right {
	text-align:right;	
	padding-right:12px;
}

.bracket_left {
	float:left;
	background-image:url(../images/bracket_left.png);
	background-repeat:no-repeat;
	background-size:100%;
	width:16px;
	height:66px;
}

.bracket_right {
	float:left;
	background-image:url(../images/bracket_right.png);
	background-repeat:no-repeat;
	background-size:100%;
	width:16px;
	height:66px;
}















/* styles for the Project area */
.projects_outer {
	position:relative;
	width:100%;
	height:auto;
	background-image:url(../images/bg_gridpattern.gif);
	background-repeat:repeat;
	border-bottom:10px solid #1e1e1e;
}

.projects_inner {
	width:95%;
	height:auto;
	margin:0px auto;
	padding:12px 0px 12px 0px;
	overflow:hidden;
}

.bg_dots {
	width:100%;
	height:100%;
	background-image:url(../images/bg_dotpattern.png);
	background-repeat:repeat;
}

.card {
	float:left;
	width:280px;
	margin:12px 12px 12px 12px;
	height:210px;
}

.card_color {
	background-color:#f0e6f7;
}

.card_top {
	width:100%;
	height:18px;
}

.card_corner_tr {
	background-image:url(../images/cardcorner_tr.png);
	background-repeat:no-repeat;
	background-size:18px 18px;
	width:18px;
	height:18px;
}
.card_contributor {
	margin:0px;
	padding:0px;
	margin-top: 46px;	
}

.card_bottom {
	height:30px;	
}

.card_corner_bl {
	background-image:url(../images/cardcorner_bl.png);
	background-repeat:no-repeat;
	background-size:18px 30px;
	width:18px;
	height:30px;
}

.card_description {
	padding:0px 12px;
	margin-top:-10px;
	height:90px;
	overflow:hidden;	
}

.card_description p {
	color:#423b7d;
	padding-top:6px;
	line-height:1.4em;
}

.card_hilite {
	color:#864e92;	
}

.card ul {
	margin:0px;
	padding:0px 0px 0px 0px;
}

.card ul li {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Arial, sans-serif;
	font-size:13px;
	color: #423b7d;
	line-height:1.4em;
	margin:0px 12px 0px 28px;
	padding:0px;
	list-style-image:url(../images/bullet.png);
}

table.stats_table {
	margin-left: 40px;	 
}

.stats_table div {
	text-align: left;
}

.card_stats_row {
	margin:0px;
	padding:0px 12px 0px 0px;
}

.card_stats_header {
	margin-left: 40px;
}

.card_stats {
	font-size:16px;
	font-weight:700;
	color:#1e1e1e;
	padding-left:12px;
}
.icon_star {
	background-image:url(../images/icon_star.png);
	background-repeat:no-repeat;
	background-size:100%;
	width:19px;
	height:17px;
	margin-top:2px;
	margin-left: 10px;
}
.icon_fork {
	background-image:url(../images/icon_fork.png);
	background-repeat:no-repeat;
	background-size:100%;
	width:19px;
	height:17px;
	margin-top:3px;
	margin-left: 10px;
}

/* styles for the Participate area */
.participate_outer {
	position:relative;
	width: 100%;
	min-height:180px;
	background-color:#32145a;
	color:#bebdff;
	padding:0px;
	margin:0px;
	border-bottom:1px solid #000000;
}

.participate_inner {
	width:95%;
	height:auto;
	text-align:center;
	padding:48px 0px 0px 0px;
}

.participate_inner a, .participate_inner a:visited, .participate_inner a:hover {
	color:#d89ae4;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Arial, sans-serif;
	text-decoration: none;
}

/* styles for the Contributors area */
.contributors_outer {
	width: 100%;
	height:auto;
	background-color:#ffffff;
}
.contributors_inner {
	width:95%;
	height:auto;
	color:#ae9bb2;
	text-align:center;
	margin:0px auto;
	padding:12px 24px 12px 24px;
	overflow:hidden;
}
.contributors {
	width:100%;
	min-height:120px;
	margin-top:12px;
	text-align:left;
}
.contributors_logo {
	float:left;
	margin:24px 50px 24px 50px;
}

/* styles for the Footer */
.footer_outer {
	position:relative;
	width: 100%;
	min-height:180px;
	background-color:#32145a;
	padding:0px;
	margin:0px;
	border-bottom:1px solid #000000;
}

.footer_inner {
	width:95%;
	height:auto;
	text-align:center;
	padding:48px 0px 0px 0px;
}

.footer_inner a, .footer_inner a:visited, .footer_inner a:hover {
	color:#d89ae4;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Arial, sans-serif;
	text-decoration: none;
}

.footer_inner a:hover {
	color:#e337ff;
}

.footer_inner_tagline {
	font-size:24px;
	color:#bebdff;
	line-height:1.7em;
}
.footer_contacts {
	font-size:20px;
	color:#bebdff;
	line-height:1.7em;
	padding:50px 24px 50px 24px;
}

.kittie {
	position:absolute;
	bottom:10px;
	right:20px;
	background-image:url(../images/kittie.png);
	background-repeat: no-repeat;
	background-size:100%;
	width:93px;
	height:80px;
}



