@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
:after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

button:focus { outline:0; }

.shell-header-wrapper, .shell-footer-wrapper, .shell-category-nav { max-width:1200px; }
.shell-search input[type="search"] { box-sizing: border-box; }

body { font-family: wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; font-size: 18px; color:#555; line-height:1.5; font-weight:normal; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:100%; }

h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 400; line-height: 1.1; color: inherit; }
h1 { font-size:48px; color:#fff; margin-bottom:48px; font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; }
h2 { font-size: 36px; margin:50px 0 20px; text-align:center; font-weight:300; font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; }
h3 { font-size: 24px; margin:30px 0 10px; font-weight:400; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

a { color: #00abec; text-decoration:none; }
a:hover { text-decoration:underline; }

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img.main-image {
    width: 123px;
    height: 114px;
    margin-bottom: 25px;
    margin-top: 15px;
}
h1.dotnet {
    /*color: #682079;*/
    color: #000;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}
a.btn-main {
    padding: 10px 40px;
    margin-right: 15px;
    display: inline-block;
    font-size: 18px;
    background-color: #F2F2F2;
    color: #000;
}
a.btn-main:hover {
    text-decoration: none;
    background-color: #0492c8;
    color: #fff;
}

footer {
    display: fixed;
    bottom: 0;
    text-align: center;
    font-size: 12px;
}

table { margin:25px 0; }
th { background-color:#eee; }
th, td { padding: 5px; border:1px solid #ccc; }

.container { padding: 0 10px; margin: 0 auto 60px; width: 100%; max-width: 1200px; }

@media(min-width:899px) {
	.container { width: 90%; padding: 0; }
}

.content { font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; }

.jumbotron { padding: 35px 0 60px; background: -webkit-linear-gradient(-225,#6a7d99 99%,#364c68 30%); background: linear-gradient(135deg,#364c68 30%,#6a7d99 99%); color: #fff; margin-bottom: 80px; }
.jumbotron:after { content: ""; display: table; clear: both; }
.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4 { text-align: center; }
.jumbotron h1 { color:#a6ee01; position:relative; }
.jumbotron h1 sup { position: absolute; font-size: 12px; font-style: italic; font-weight: 400; margin: 15px 0 0 5px; }
.jumbotron h2 { font-size:30px; line-height:1.4; margin-top:0; }
.jumbotron h3 { font-size:20px; font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; }
.jumbotron button, .jumbotron .button { float:left; width:180px; min-height:45px; font-size: 18px; padding: 10px 40px; border:0; color:#333; background:#fff; display:block; }
.jumbotron button.active, jumbotron .button.active, .jumbotron button:hover, .jumbotron .button:hover { background-color:#0492c8; color:#fff; text-decoration:none; }
.jumbotron button span, .jumbotron .button span { display: block; font-size: 12px; margin-bottom: 5px; text-align: left; }
.jumbotron .container { margin-bottom:0; }

@media(max-width:898px) {
	.jumbotron button, .jumbotron .button { float: none; margin: 0 auto; }
}

header { text-transform: uppercase; margin-bottom: 60px; }
header:after { content: ""; display: table; clear: both; }
header .logo { float:left; font-size: 42px; font-weight: 400; color:#fff; }
header .logo:hover { text-decoration:none; }
header ul { float:right; margin-top:10px; }
header ul li { float:left; list-style-type: none; }
header ul li a { color:#fff; padding:20px; display:block; font-size:14px; }
header ul li a:hover { background-color:rgba(255, 255, 255, 0.15); text-decoration:none; }
header .menu { border-top: 1px solid #fff; display: none; float: right; height: 15px; margin-top: 15px; position: relative; width: 21px; }
header .menu::before, header .menu::after { border-top: 1px solid #fff; content: " "; display: block; top: 5px; position: relative; }
header .menu::after { top: 10px; }

@media(max-width:898px) {
	header .logo { float:none; }
	header nav { display:none; }
	header nav.active { display: block; }
	header ul { float: none; margin: 20px -10px 0; padding: 0; }	
	header ul li { float:none; border-top:1px solid #333; }
	header .menu { display:block; }
}

.os-group { text-align:center; margin-top: 35px; }
.btn-group { position:relative; display:inline-block; }
.btn-group .btn-group { float:left; }

@media(max-width:898px) {
	.btn-group { width:100%; }
}

.dropdown-menu { list-style-type:none; padding:0; margin:0; position:absolute; top:47px; z-index:1; }
.dropdown-menu button { border:1px solid #ddd; border-top:0; }
.dropdown-menu button.active, .dropdown-menu button:hover { background-color: #eee; color: #333; }

@media(max-width:898px) {
	.dropdown-menu { left:50%; margin-left:-90px; }
}

.collapse { display:none; }

.downloads { width: 720px; text-align:right; margin:5px auto 0; font-size:12px; }
.downloads a { color:#fff; }
.downloads a:hover { text-decoration:underline; }

@media(max-width:898px) {
	.downloads { width:inherit; text-align:center; }
}

.steps { max-width:1100px; margin:0 auto; }
.steps ol { padding-left: 0; list-style-type:none; }
.steps > div > ol > li { margin-bottom:35px; }
.steps ol li div { display: table-cell; vertical-align: top; }
.steps .step-item span { display:block; width: 70px; height: 70px; margin: 0 30px 30px 0; font-size: 40px; font-weight: 700; text-align: center; line-height: 60px; color: #5A6E8A; border: 4px solid #5A6E8A; border-radius: 50%; }
.steps .step-item .checkmark:before { border-style: solid; border-width: 0 0 6px 6px; color: #5A6E8A; content: ""; display: inline-block; height: 18px; margin-top: -14px; transform: rotate(-45deg); vertical-align: middle; width: 35px; }
.steps .step-item-tools span { background-image:url(../images/VS-checkmark.png); content: ""; display:block; width:70px; height:70px; margin:0 30px 0 0; background-repeat:no-repeat; }

.steps .step-body { padding-right:20px; width: 10000px; }
.steps .step-body h3 { margin: 0 0 10px 0; text-align:left; }
.steps .step-body p { font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; }
.steps .step-prompt { font-family: "Consolas","Monaco",monospace; min-width: 240px; min-height: 160px; border-radius: 8px; border-top: 30px solid #c0c0c0; word-break: break-all; }
.steps .step-prompt.wide { min-width:480px; }
.steps .step-prompt ol { background:#000; padding:5px 15px; color:#fff; border-radius: 0 0 8px 8px; }
.steps .step-prompt ol li { list-style: none; font-weight: 600; margin: 15px 0; }
.steps .step-prompt.unix li:before { content: '~$ '; color:#c0c0c0; }
.steps h4 {margin-bottom:0px;}

@media(max-width:898px) {
	.steps .step-prompt { display:block; margin-left:95px; }
}

.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
@-webkit-keyframes fadeInUp {
	0% { opacity: 0; -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
	100% { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInUp {
	0% { opacity: 0; -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
	100% { opacity: 1; -webkit-transform: none; transform: none; }
}

.fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }


.text-danger { text-align:left; }


.banner { background-color: #002050; text-align:center; padding:5px 0; color:#fff; font-size:16px; }
.banner a { color:#fff; }




/* home page - possibly move to another css file */

.home .jumbotron .item { display:table-cell; width:33.33333333%; padding:0 15px 200px; position:relative; }
.home .jumbotron .item h2 { text-align:left; }
.home .jumbotron .item p { font-size:24px; font-family:"wf_segoe-ui_semilight","Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; color:#d2d2d2; margin-bottom:0px; }
.home .jumbotron .item .links { position:absolute; bottom:0; }
.home .jumbotron .item .no-other { padding-bottom:28px; }
.home .jumbotron .cta {font-size: 24px; font-family: wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; margin:0px 0px 10px 0px; display:block; color:#fff; }
.home .jumbotron .cta:after {content: "\203A"; font-size: 42px; vertical-align: sub;margin-left:5px;}
.home .jumbotron .cta:hover span {text-decoration:underline}
.home .jumbotron .cta:hover {text-decoration:none}

.home .jumbotron button, .home .jumbotron .button { background-color:#0492c8; color:#fff; font-family: "wf_segoe-ui_semibold","Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; font-size:22px; width:auto; min-width:240px; padding:10px 15px; margin:10px 0 0 0; float:none; display:inline-block; }
.home .jumbotron button:hover, .home .jumbotron .button:hover { background-color:#024863; }
.home .jumbotron .more { color: #fff; font-size: 12px; margin:10px 0 0; display:block; }
.home .jumbotron .more:hover { text-decoration:underline; }

@media(max-width:898px) {
	.home .jumbotron .item { display:block; width:100%; padding-bottom:0; }
	.home .jumbotron .item h2 { margin-top:35px; }
    .home .jumbotron .item .links { position:inherit; bottom:initial; }
}



/* platform page - move to another css file when it gets large */
.platform .jumbotron .button { margin:0 auto; float:none; display:block; font-family: "wf_segoe-ui_semibold","Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; font-size:22px; width:170px; padding:10px 15px; min-width:240px; background-color:#0492c8; color:#fff;padding:10px 15px;}
.platform .downloads { text-align:center; }
.platform .jumbotron button:hover, .platform .jumbotron .button:hover { background-color:#024863; }

.dev-tools:after { content: ""; display: table; clear: both; }
.dev-tools .icon { background-image:url(../images/sprite-tools.png); width:142px; height:136px; display:block; margin:0 auto 40px; }
.dev-tools .icon.vs { background-position: 0 -136px; }
.dev-tools .icon.vs-code { background-position: 0 -272px; }
.dev-tools .icon.yeoman { background-position: 0 -408px; }
.dev-tools .icon.omnisharp { background-position: 0 0; }
.dev-tools .item { float:left; width:25%; padding:0 15px; min-width:200px; margin-top:10px; }
.dev-tools .item a { display:block; }
.dev-tools .item p { font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; }

@media(max-width:898px) {
	.dev-tools .item { float:none; width:100%; }
}

.core:after { content: ""; display: table; clear: both; }
.core .row { margin: 0 0 80px 0; }
.core .row:last-child { margin-bottom:0; }
.core .row:after { content: ""; display: table; clear: both; } 
.core h3 { margin-bottom:40px; }
.core ul { list-style-type:none; padding: 0; margin:0; font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; }
.core .item { float: left; padding: 0 15px; min-width: 200px; min-height:200px; width:66.66666666%; }
.core .item.left { width:33.33333333%; }
.core .item.right { width:33.33333333%; float:right; }
.core .item img { display:block; margin:0 auto; max-width: 100%; height: auto; }
.core .item h4 { font-size:36px; font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; margin: 0 0 20px; }
.core .item p { font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; }
.core .icon { background-image:url(../images/sprite-core.png); width:200px; height:200px; display:block; margin:0 auto; }
.core .icon.modular { background-position: 0 0; }
.core .icon.managed { background-position: 0 -233px; }
.core .icon.cross-platform { background-position: 0 -459px; }
.core .icon.modern { background-position: 0 -691px; }


@media(max-width:898px) {
	.core .item, .core .item.left, .core .item.right { float:none; width:100%; min-height:inherit; }
	.core .item.left, .core .item.right { margin-bottom:20px; }    
}





/* downloads page - move to another css file when it gets large */
.hashes { font-size:16px; }
.hashes strong { display:block; }
.hashes li { word-break:break-all; }





/* community page - move to another css file when it gets large */
table img { max-width:66px; }
