@charset "utf-8";
/* CSS Document */


.siteTitle {
	padding:24px 30px 0px 12px;
}



/* styles for the top nav bar and the logo */

.topnav_item {
	margin:6px 20px 0px 20px;
}

.dotNetLogo {
	margin:-20px 0px 0px 18px;
}



/* styles for search bar and statistics */

.input_searchbox {
	width: 30%;
	margin:18px 12px 0px 0px;
}

.statistics {
	width:200px;
	margin:9px 0px 0px 0px;	
}
